.App{
    background-image: url("./img/web_bg.jpg");
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.Switch{
    position: absolute;
    top: 21%;
    left: 5%;
}
.WaterDropIcon{
    height: 10%;
    width: 20%;
    pointer-events: none;
}

.PopSpan{
    display: inline;
}
